<!doctype html>
<html lang="en">
{% load staticfiles %}
<head>

  <meta charset="utf-8">
  
  <title>{% block title %}{% endblock title %} | Support Center</title>
  
  <link rel="stylesheet" href="{{ STATIC_URL }}knowledge/css/reset.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}knowledge/css/main.css">
  <script src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>

</head>

<body>

<div class="wrapper">
  
  {% block knowledge_inner %}
  {% endblock knowledge_inner %}

</div>
  
</body>
</html>
